
                <p>Current User Authenticated: {{ !!token }}</p>
                <p>Current User Token: {{ token|json }}</p>
                <button nbButton status="success" *ngIf="!token" (click)="login()">Sign In with Google</button>
                <button nbButton status="warning" *ngIf="token" (click)="logout()">Sign Out</button>
