<template>
  <v-container fluid>

    <p>This is a multi-step process which your private banker will be delighted to help with. You must peform this step for every card you wish to manage.</p>

    <p>
      <ol>
        <li>Register your Investec account as part of the Programmable Banking initiative.</li>
        <li>Login, and click "Start programming your bank cards now".</li>
        <li>Click on the image of the credit card.</li>
        <li>When the editor loads, locate <code>main.js</code> on the left hand side. Click it to open the file.</li>
        <li>If you are asked if you would like to reload changes from a previous session, say yes.</li>
        <li>Replace the code in the editor, with the code below.</li>
        <li>Click <i>Save Changes</i>.</li>
        <li>Click <i>Deply code to card</i>.</li>
        <li>And you should be rewarded (briefly!) with the message: "Code published!".</li>
      </ol>
    </p>

    <p>That's it!</p>

    <v-card>
      <v-card-text>
<pre>
// This function runs during the card transaction authorization flow.
// It has a limited execution time, so keep any code short-running.
const beforeTransaction = async (authorization) => {
    const url = "https://k7et9syyb3.execute-api.eu-west-1.amazonaws.com/Prod/assess"
    const response = await fetch(url, {
        method: 'POST',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify(authorization)
    });
    const json = await response.json();
    let allow = json['allow']
    return allow;
};

// This function runs after a transaction.
const afterTransaction = async (transaction) => {
    const url = "https://k7et9syyb3.execute-api.eu-west-1.amazonaws.com/Prod/post"
    const response = await fetch(url, {
        method: 'POST',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify(transaction)
    });
    await response.json();
};
</pre>
    </v-card-text>
  </v-card>

  </v-container>
</template>
