<template>
  <v-container fluid>

    <v-row>
      <v-col cols=12>
        <v-alert border="right" colored-border type="error" elevation="2">
          Please ensure that all cards are registered on Investec's side using the procedure described <router-link to="/cardRegistration" exact>here</router-link>.
        </v-alert>
      </v-col>

      <v-col cols=12>
        <NewCard />
      </v-col>
    </v-row>

    <v-row>
      <v-col cols=4 v-for="card in cards" :key="card.id">
        <Card :card="card" />
      </v-col>
    </v-row>

  </v-container>
</template>

<script>
import NewCard from '@/components/NewCard';
import Card from '@/components/Card';

export default {
  // data: () => ({  }),
  components: {
    NewCard,
    Card,
  },
  computed: {
    cards() { return this.$store.getters.cards; },
  },
};
</script>

