<template>
  <v-container fluid>
    <v-row>
      <v-col class="text-h4">
        {{ card.cardHolderName }}: {{ card.investecAccountNumber }}
      </v-col>
    </v-row>

    <v-row>
      <v-col>
        <v-select
          v-model="ruleSetIds"
          :items="ruleSets"
          item-text="name"
          item-value="id"
          attach
          chips
          label="Rule Sets"
          multiple
          @change="submit"
        ></v-select>
      </v-col>
    </v-row>


  </v-container>
</template>

<script>

export default {
  data: () => ({
    ruleSetIds: [],
  }),
  computed: {
    cardId() { return this.$route.query.cardId; },
    card() { return this.$store.getters.cards.filter( e => e['id']==this.cardId )[0] },
    ruleSets() { return this.$store.getters.ruleSets; },
  },
  watch: {
    card(n) {
      if (n) {
        let sets = this.$store.getters.cardRuleSets[n.id] || [];
        this.ruleSetIds = this.ruleSets.filter( e => sets.includes(e.id) ).map ( e => e['id'] );
      }
    }
  },
  methods: {
    submit() {
      let cardRuleSets = {
        cardId: this.cardId,
        ruleSetIds: this.ruleSetIds,
      }
      this.$store.dispatch('updateCardRuleSets', cardRuleSets);
    },
  }
};
</script>
