<template>
  <v-container fluid>
    <v-simple-table dense>
      <template v-slot:default>
        <thead>
          <tr>
            <th class="text-left">createdAt</th>
            <th class="text-left">ruleName</th>
            <th class="text-left">minimumAmount</th>
            <th class="text-left">maximumAmount</th>
            <th class="text-left">currency</th>
            <th class="text-left">ruleAppliesOnlyToMerchantRegex</th>
            <th class="text-left">ruleDoesntApplyToMerchantRegex</th>
            <th class="text-left">allowedMerchantNameRegex</th>
            <th class="text-left">blockedMerchantNameRegex</th>
            <th class="text-left">allowedCategories</th>
            <th class="text-left">blockedCategories</th>
            <th class="text-left">allowedCities</th>
            <th class="text-left">blockedCities</th>
            <th class="text-left">country</th>
            <th class="text-left">allow</th>
          </tr>
        </thead>
        <tbody>
          <tr
            v-for="check in checks"
            :key="check.id"
          >

            <td class="text-left">{{ check.createdAt }}</td>
            <td class="text-left">{{ check.ruleName }}</td>
            <td class="text-left">{{ check.minimumAmount }}</td>
            <td class="text-left">{{ check.maximumAmount }}</td>
            <td class="text-left">{{ check.currency }}</td>
            <td class="text-left">{{ check.ruleAppliesOnlyToMerchantRegex }}</td>
            <td class="text-left">{{ check.ruleDoesntApplyToMerchantRegex }}</td>
            <td class="text-left">{{ check.allowedMerchantNameRegex }}</td>
            <td class="text-left">{{ check.blockedMerchantNameRegex }}</td>
            <td class="text-left">{{ check.allowedCategories }}</td>
            <td class="text-left">{{ check.blockedCategories }}</td>
            <td class="text-left">{{ check.allowedCities }}</td>
            <td class="text-left">{{ check.blockedCities }}</td>
            <td class="text-left">{{ check.country }}</td>
            <td class="text-left">{{ check.allow }}</td>

          </tr>
        </tbody>
      </template>
    </v-simple-table>
  </v-container>
</template>

<script>
// import Rule from '@/components/Rule';

// id, :customerId, :cardId, :investecAccountNumber, :reference, :amount, :currency, :merchantName, :category, :city, :country

export default {
  // data: () => ({}),
  computed: {
    checks() { return this.$store.getters.currentChecks; },
  },
};
</script>

