<template>
  <v-container fill-height fluid>

    <v-row align="center" justify="center">
      <v-col cols=3 />

      <v-col cols=6 class="d-flex flex-column" >
        <div class="text-h2">Welcome to RSG</div>
        <div class="mb-4 text-h5 font-weight-light">Please use the three icons at the top right of your screen to manage cards, review transactions, or update your organisation's settings.</div>
      </v-col>

      <v-col cols=3 />
    </v-row>

  </v-container>
</template>
