<template>
  <v-container fill-height fluid>

    <v-row align="center" justify="center">
      <v-col cols=3 />

      <v-col cols=6 v-if="welcome" class="d-flex flex-column" >
        <div class="text-h2">Welcome to RSG</div>
        <div class="mb-4 text-h5 font-weight-light">We redefine how you can manage credit cards. Be it a fleet management solution, a local loyalty program, or simply regulate staff expenditure, RSG has your covered.</div>
        <div style="cursor: pointer;" @click="toggle">
          Click here to login or register.
        </div>
      </v-col>

      <v-col cols=6 v-else class="d-flex flex-column" >
        <div class="mb-4 text-h5 font-weight-light">Please enter your email in the field below.</div>
        <v-form v-model="validForm">
          <div>
            <v-text-field placeholder="you@example.com" v-model="email" :rules="emailRules" ></v-text-field>
          </div>
          <div align="right">
            <v-btn type="submit" @click="submit" :disabled="!validForm">
              Go
            </v-btn>
          </div>
        </v-form>
      </v-col>


      <v-col cols=3 />
    </v-row>

  </v-container>
</template>

<script>

export default {
  data: () => ({
    validForm: false,
    email: null,
    welcome: true,
    emailRules: [
      v => /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(v)
    ],
  }),
  methods: {
    toggle() { this.welcome = !this.welcome; },
    submit() { this.$store.dispatch('setEmail', this.email); },
  }
};
</script>
