<template>
  <v-container fluid>
    <v-row>
      <v-col cols=12>
        <NewRule :ruleSetId="ruleSetId" />
      </v-col>
    </v-row>

    <v-row>
      <v-col cols=4 v-for="rule in rules" :key="rule.id">
        <Rule :rule="rule" />
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import Rule from '@/components/Rule';
import NewRule from '@/components/NewRule';

export default {
  components: {
    Rule,
    NewRule,
  },
  props: ['ruleSetId'],
  computed: {
    rules() { return this.$store.getters.rules.filter(e => (e['ruleSetId']===this.ruleSetId) ) ; },
  },
};
</script>
