<template>

  <v-container fluid>
    <v-tabs>

      <v-tab v-for="ruleSet in ruleSets" :key="ruleSet.id">
        {{ ruleSet.name }}
      </v-tab>
      <v-tab>
        <i>New</i>
      </v-tab>

      <v-tab-item v-for="ruleSet in ruleSets" :key="ruleSet.id">
        <v-card flat>
          <v-card-text>
            <Rules :ruleSetId="ruleSet.id" />
          </v-card-text>
        </v-card>
      </v-tab-item>

      <v-tab-item>
        <v-card flat>
          <v-card-text>
            <v-form v-model="validForm">
              <div>
                <v-text-field label="Rule Set Name" v-model="name" :rules="nameRules" ></v-text-field>
              </div>
              <div align="right">
                <v-btn type="submit" @click="submit" :disabled="!validForm">
                  Add Rule Set
                </v-btn>
              </div>
            </v-form>
          </v-card-text>
        </v-card>
      </v-tab-item>

    </v-tabs>
  </v-container>

</template>

<script>
import Rules from '@/views/Rules';
export default {
  data: () => ({
    validForm: false,
    name: '',
    nameRules: [
      v => /\w+/.test(v) || 'Required'
    ],
  }),
  components: {
    Rules,
  },
  computed: {
    ruleSets() { return this.$store.getters.ruleSets; },
    rules() { return this.$store.getters.rules; },
  },
  methods: {
    submit() {
      let ruleSet = { name: this.name };
      this.$store.dispatch('newRuleSet', ruleSet);
      this.name = '';
    }
  },
};
</script>
