<template>
  <v-container fluid>

    <v-row>
      <v-col cols=2>
        Organisation Name
      </v-col>
      <v-col cols=6>
        <v-text-field @blur="update('theName')" v-model="theName" dense></v-text-field>
      </v-col>
      <v-col cols=4 class="text-caption">
        The name that of the organisation that these cards belong to.
      </v-col>
    </v-row>

    <v-row>
      <v-col cols=2>
        Post Endpoint
      </v-col>
      <v-col cols=6>
        <v-form v-model="validPostForm">
          <v-text-field @blur="update('thePostUrl')" v-model="thePostUrl" :rules="urlRules" dense></v-text-field>
        </v-form>
      </v-col>
      <v-col cols=4 class="text-caption">
        Transactions, and their outcomes, can be sent to remote servers using an HTTP <code>POST</code>.
      </v-col>
    </v-row>

    <v-row>
      <v-col cols=2>
        Slack Channel URL
      </v-col>
      <v-col cols=6>
        <v-form v-model="validSlackForm">
          <v-text-field @blur="update('theSlackUrl')" v-model="theSlackUrl" :rules="urlRules" dense></v-text-field>
        </v-form>
      </v-col>
      <v-col cols=4 class="text-caption">
        Transaction outcomes can be shared via a slack channel. You need to configure the slack channel using the instructions <a href="https://api.slack.com/messaging/webhooks">here</a>.
      </v-col>
    </v-row>


  </v-container>
</template>

<script>

export default {
  data: () => ({

    theName: null,
    thePostUrl: null,
    theSlackUrl: null,

    validPostForm: true,
    validSlackForm: true,
    
    urlRules: [
      v => (/^(https?):\/\/[^\s$.?#].[^\s]*$/.test(v)) || 'Must be a valid, fully qualified, URL.',
    ],
  }),

  watch: {
    name: {
      immediate: true,
      handler(f) { this.theName = f; }
    },
    postUrl: {
      immediate: true,
      handler(f) { this.thePostUrl = f; }
    },
    slackUrl: {
      immediate: true,
      handler(f) { this.theSlackUrl = f; }
    },
  },
  computed: {
    name() { return this.$store.getters.customerName; },
    postUlr() { return this.$store.getters.postUrl; },
    slackUlr() { return this.$store.getters.slackUrl; },
  },
  methods: {
    update(field) {
      if (field=='theName') { this.$store.dispatch('setCustomerName', this.theName); }
      if ((field=='thePostUrl') && this.validPostForm) { this.$store.dispatch('setPostUrl', this.thePostUrl); }
      if ((field=='theSlackUrl') && this.validSlackForm) { this.$store.dispatch('setSlackUrl', this.theSlackUrl); }
    }
  }
};
</script>

