<template>
  <v-container fluid>
    <v-simple-table dense>
      <template v-slot:default>
        <thead>
          <tr>
            <th class="text-left">When</th>
            <th class="text-left">Account</th>
            <th class="text-left">Reference</th>
            <th class="text-left">Merchant</th>
            <th class="text-left">Category</th>
            <th class="text-right">Amount</th>
            <th class="text-left">Allowed</th>
          </tr>
        </thead>
        <tbody>
          <tr
            v-for="transaction in transactions"
            :key="transaction.id"
            style="cursor:pointer"
            @click="click(transaction.id)"
          >
            <td>{{ transaction.createdAt }}</td>
            <td>{{ transaction.investecAccountNumber }}</td>
            <td>{{ transaction.reference }}</td>
            <td>{{ transaction.merchantName }}</td>
            <td>{{ transaction.category }}</td>
            <td class="text-right"><span class="text-caption">{{ transaction.currency }}</span> {{ parseFloat(transaction.amount).toFixed(2) }}</td>
            <td>{{ ( transaction.allowed ? 'Yes' : 'No' ) }}</td>
          </tr>
        </tbody>
      </template>
    </v-simple-table>
  </v-container>
</template>

<script>
// import Rule from '@/components/Rule';

// id, :customerId, :cardId, :investecAccountNumber, :reference, :amount, :currency, :merchantName, :category, :city, :country

export default {
  // components: {
  //   Rule,
  // },
  computed: {
    cardId() { return this.$route.query.cardId; },
    transactions() {
      if (this.cardId) {
        return this.$store.getters.transactions.filter(e => (e['cardId']===this.cardId));
      } else {
        return this.$store.getters.transactions;
      }
    },
  },
  methods: {
    click(transactionId) {
      this.$store.dispatch('setCurrentTransactionId', transactionId);
      this.$router.push( { name: 'Checks', query: { transactionId: transactionId } } );
    }
  }
};
</script>

