
<div class="row">
    <nb-card class="inline-form-card">
      <nb-card-header>Add Card</nb-card-header>
      <nb-card-body>
        <form [formGroup]="cardForm" (submit)="onSubmit($event)" class="form-inline">
          <input formControlName="accountId" type="text" required nbInput fullWidth placeholder="Account ID">
          <input formControlName="clientId" type="text" required nbInput fullWidth placeholder="Client Id">
          <input formControlName="accountHolder" type="text" required nbInput fullWidth placeholder="Account Holder">
          <br>
          <input formControlName="secret" type="text" required nbInput fullWidth placeholder="Secret">
          <nb-select formControlName="rules" multiple placeholder="Rules" >
            <nb-option value="1">Woolies</nb-option>
            <nb-option value="2">Beers</nb-option>
          </nb-select>
          <button nbButton status="primary">Add</button>
        </form>
      </nb-card-body>
    </nb-card>
</div>

<div class="row">
<nb-card>
  <nb-card-header>
    Cards
  </nb-card-header>

  <nb-card-body>
    <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)" (editConfirm)="onSaveConfirm($event)">
    </ng2-smart-table>
  </nb-card-body>
</nb-card>
</div>

