<template>
  <v-card class="mx-auto">

    <v-card-title>
      {{ card.cardHolderName }}
    </v-card-title>

    <v-card-subtitle>
      {{ card.investecAccountNumber }}
    </v-card-subtitle>

    <v-card-text>
      <v-chip class="ma-2" small v-for="name in cardRuleSets" :key="name" >
        {{name}}
      </v-chip>
    </v-card-text>

    <v-card-actions>
      <v-btn small @click="transactions(card.id)">
        Transactions
      </v-btn>
      <v-btn small @click="editRuleSets(card.id)">
        Edit Rule Sets
      </v-btn>
    </v-card-actions>

  </v-card>
</template>

<script>

export default {
  props: ['card'],
  computed: {
    ruleSets() { return this.$store.getters.ruleSets; },
    cardRuleSets() {
      let sets = this.$store.getters.cardRuleSets[this.card.id] || [];
      return this.ruleSets.filter( e => sets.includes(e.id) ).map ( e => e['name'] );
    }
  },
  methods: {
    transactions(cardId) {
      this.$router.push( { name: 'Transactions', query: { cardId: cardId } } );
    },
    editRuleSets(cardId) {
      this.$router.push( { name: 'CardRuleSets', query: { cardId: cardId } } );
    }
  }
};
</script>
