<template>
  <v-form v-model="validForm">
    <v-card elevation="2">
      <v-card-title>New Card</v-card-title>

      <v-card-text>
        <v-container fluid>

          <v-row>
            <v-col cols="3">
              Investec Account Number
            </v-col>
            <v-col cols="9">
              <v-text-field placeholder="10010171214" v-model="investecAccountNumber" :rules="accountNumberRules" ></v-text-field>
            </v-col>
          </v-row>

          <v-row>
            <v-col cols="3">
              Card Holder Name
            </v-col>
            <v-col cols="9">
              <v-text-field placeholder="JE Smith" v-model="cardHolderName" :rules="nameRules" ></v-text-field>
            </v-col>
          </v-row>

          <v-row>
            <v-col cols="3">
              
            </v-col>
            <v-col cols="9">
              <v-btn type="submit" @click="submit" :disabled="!validForm">
                Create
              </v-btn>
            </v-col>
          </v-row>


        </v-container>
      </v-card-text>

    </v-card>
  </v-form>
</template>

<script>

export default {
  data: () => ({
    validForm: false,
    investecAccountNumber: '',
    cardHolderName: '',
    accountNumberRules: [
      v => /^\d{11}$/.test(v)
    ],
    nameRules: [
      v => /\w+/.test(v) || 'Required'
    ],

  }),

  // components: {
  //   RuleItem,
  // },
  // computed: {
  //   rules() { return this.$store.getters.rules; },
  // },
  methods: {
    submit() {
      let card = {
        investecAccountNumber: this.investecAccountNumber,
        cardHolderName: this.cardHolderName,
      }
      this.$store.dispatch('newCard', card);
      this.investecAccountNumber = '';
      this.cardHolderName = '';
    },
  },
};
</script>
