<template>
  <v-container fluid>

    <v-form v-model="validForm">
      <v-card >
        <v-card-text>
          <v-row>
            <v-col cols=10>
              <v-text-field placeholder="Rule name or description" v-model="name" :rules="nameRules" required ></v-text-field>
            </v-col>
            <v-col cols=2>
                <v-btn block :disabled="!validForm" type="submit" @click="submit">
                  Save
                </v-btn>
            </v-col>
          </v-row>

          <v-row>
            <v-tabs vertical>
              <v-tab>
                <v-icon left>mdi-store</v-icon>
                Merchant
              </v-tab>
              <v-tab>
                <v-icon left>mdi-format-text-wrapping-overflow</v-icon>
                General
              </v-tab>
              <v-tab>
                <v-icon left>mdi-help-circle-outline</v-icon>
                Read Me!
              </v-tab>


              <!-- Merchant Specific -->
              <v-tab-item>
                <v-card flat>
                  <v-card-text>

                    <v-row>
                      <v-col cols=12>
                        <p>Note that, if set, the fields on this tab (maximum amount, currency and country) will only be assessed if one of the <code>apply to</code> or <code>does not apply to</code> pertain to the transaction being assessed.</p>
                      </v-col>
                    </v-row>

                    <v-row>
                      <v-col cols=6>
                        <v-text-field dense label="Tab rules apply to..." v-model="ruleAppliesOnlyToMerchantRegex"></v-text-field>
                      </v-col>
                      <v-col cols=6>
                        <v-text-field dense label="Tab rules do not apply to..." v-model="ruleDoesntApplyToMerchantRegex"></v-text-field>
                      </v-col>
                    </v-row>

                    <v-row>
                      <v-col cols=4>
                        <v-text-field dense type="number" label="Maximum Value" v-model="maximumAmount" :rules="amountRules"></v-text-field>
                      </v-col>

                      <v-col cols=4>
                        <v-btn-toggle v-model="country">
                          <v-btn small value='ZA'>
                            Sounth Africa Only
                          </v-btn>
                          <v-btn small value=''>
                            Anywhere
                          </v-btn>
                        </v-btn-toggle>
                      </v-col>

                      <v-col cols=4>
                        <v-btn-toggle v-model="currency">
                          <v-btn small value='ZAR'>
                            Rands Only
                          </v-btn>
                          <v-btn small value=''>
                            Any Currency
                          </v-btn>
                        </v-btn-toggle>
                      </v-col>

                    </v-row>


                    <v-row>
                      <v-col cols=12>
                        <p>If <code>apply to</code> matches a merchant name, the maximum value, currency and country tests will be applied. In contrast, if <code>does not apply to</code> matches, this rule will be applied to all other merchants.</p>
                        <p>By creating <i>two</i> complementary rules, you can set a default maximum amount for most merchants, but to override it for one.</p>
                        <p>Note that <code>wool</code> will match <code>Woolworths</code> or <code>Truewool</code>. You may also use regular expressions in these fields.</p>
                      </v-col>
                    </v-row>


                  </v-card-text>
                </v-card>
              </v-tab-item>


              <!-- General -->
              <v-tab-item>
                <v-card flat>
                  <v-card-text>

                    <v-row>
                      <v-col cols=12>
                        <p>Note that, if set, the fields on this tab will always be assessed - irrespective of the settings on the merchant tab.</p>
                      </v-col>
                    </v-row>

                    <v-row>
                      <v-col cols=6>
                        <v-text-field dense label="Allow merchants..." v-model="allowedMerchantNameRegex"></v-text-field>
                      </v-col>
                      <v-col cols=6>
                        <v-text-field dense label="Block merchants..." v-model="blockedMerchantNameRegex"></v-text-field>
                      </v-col>
                    </v-row>

                    <v-row>
                      <v-col cols=12>
                        <v-select
                          v-model="allowedCategories"
                          :items="categories"
                          attach
                          chips
                          label="Allowed Categories"
                          multiple
                        ></v-select>
                      </v-col>
                    </v-row>

                    <v-row>
                      <v-col cols=12>
                        <v-select
                          v-model="blockedCategories"
                          :items="categories"
                          attach
                          chips
                          label="Blocked Categories"
                          multiple
                        ></v-select>
                      </v-col>
                    </v-row>

                    <v-row>
                      <v-col cols=6>
                        <v-select
                          v-model="allowedCities"
                          :items="cities"
                          attach
                          chips
                          label="Allowed Cities"
                          multiple
                        ></v-select>
                      </v-col>
                      <v-col cols=6>
                        <v-select
                          v-model="blockedCities"
                          :items="cities"
                          attach
                          chips
                          label="Blocked Cities"
                          multiple
                        ></v-select>
                      </v-col>
                    </v-row>

                  </v-card-text>
                </v-card>
              </v-tab-item>

              <!-- READ ME -->
              <v-tab-item>
                <v-card flat>
                  <v-card-text>

                    <v-row>
                      <v-col cols=12>
                        <p>Generally, for one rule, you will either set values on either the <code>merchant</code> tab, or the <code>general</code> tab.</p>

                        <p>For any transaction, the system will:
                          <ol>
                            <li>Use the card account number to look up applicable, enabled, rule sets.</li>
                            <li>For those rule sets, the system will pull all undeleted rules.</li>
                            <li>It will the iterate over the rules, assessing each one as described below.</li>
                          </ol>
                        </p>

                        <p>Each rule can return:
                          <ol>
                            <li>True: Indicating that this rule is happy for the transaction to be authorised.</li>
                            <li>False: Indicating that the rule does not want the transaction authorised.</li>
                            <li>Null: Indicating that the rule says nothing about the transaction.</li>
                          </ol>
                        </p>

                        <p>For a transaction to be authorised, at least one rule must return true, and no transaction may return false.</p>

                        <p>There are two parts to each rule:
                          <ol>
                            <li>Rules that apply to specific merchants. Use these rules to define rules that apply at specific merchants, or at all other merchants.</li>
                            <li>Basic rules.</li>
                          </ol>
                        </p>

                        <p>Rules that apply to merchants include:
                          <ul>
                            <li>Minimum acceptable value</li>
                            <li>Maximum acceptable value</li>
                            <li>Country</li>
                            <li>Currency</li>
                          </ul>
                        </p>

                        <p>Rules that apply generally include:
                          <ul>
                            <li>allowedMerchantNameRegex: Allow this transaction if the merchant name matches this regex.</li>
                            <li>blockedMerchantNameRegex: Stop this transaction if the merchant name matches this regex.</li>
                            <li>allowedCategories: Transactions are categories by Investec. The code expects an array (JSON encoded) of allowed categories (eg ['coffee shops', 'bakeries']). Thransactions that fall into these categories are allowed.</li>
                            <li>blockedCategories: The opposite.</li>
                            <li>allowedCities: Similarly, you can provide an array of allowed cities: ['Cape Town', 'Johannesburg']</li>
                            <li>blockedCities: Or, dissallowed cities: ['Durban']</li>
                          </ul>
                        </p>

                      </v-col>
                    </v-row>

                  </v-card-text>
                </v-card>
              </v-tab-item>


            </v-tabs>
          </v-row>


        </v-card-text>
      </v-card>
    </v-form>


  </v-container>
</template>

<script>
export default {
  props: ['ruleSetId'],
  data: () => ({
    validForm: false,
    name: null,
    ruleAppliesOnlyToMerchantRegex: '',
    ruleDoesntApplyToMerchantRegex: '',
    allowedMerchantNameRegex: '',
    blockedMerchantNameRegex: '',
    allowedCategories: [],
    blockedCategories: [],
    allowedCities: [],
    blockedCities: [],
    country: null,
    currency: null,
    maximumAmount: 100.00,
    amountRules: [
      v => /\d+/.test(v)
    ],
    nameRules: [
      v => /\w+/.test(v) || 'Required'
    ],

    cities: ['Cape Town', 'Johannesburg', 'Pretoria', 'Durban', 'Bloemfontein', 'PE', 'East London'],
    categories: ["A/C, Refrigeration Repair","Accounting/Bookkeeping Services","Advertising Services","Agricultural Cooperative","Airlines, Air Carriers","Airports, Flying Fields","Ambulance Services","Amusement Parks/Carnivals","Antique Reproductions","Antique Shops","Aquariums","Architectural/Surveying Services","Art Dealers and Galleries","Artists Supply and Craft Shops","Auto Body Repair Shops","Auto Paint Shops","Auto Service Shops","Auto and Home Supply Stores","Automated Cash Disburse","Automated Fuel Dispensers","Automobile Associations","Automotive Parts and Accessories Stores","Automotive Tire Stores","Bail and Bond Payments (payment to the surety for the bond, not the actual bond paid to the government agency)","Bakeries","Bands, Orchestras","Barber and Beauty Shops","Betting/Casino Gambling","Bicycle Shops","Billiard/Pool Establishments","Boat Dealers","Boat Rentals and Leases","Book Stores","Books, Periodicals, and Newspapers","Bowling Alleys","Bus Lines","Business/Secretarial Schools","Buying/Shopping Services","Cable, Satellite, and Other Pay Television and Radio","Camera and Photographic Supply Stores","Candy, Nut, and Confectionery Stores","Car Rental Agencies","Car Washes","Car and Truck Dealers (New & Used) Sales, Service, Repairs Parts and Leasing","Car and Truck Dealers (Used Only) Sales, Service, Repairs Parts and Leasing","Carpentry Services","Carpet/Upholstery Cleaning","Caterers","Charitable and Social Service Organizations - Fundraising","Chemicals and Allied Products (Not Elsewhere Classified)","Chidrens and Infants Wear Stores","Child Care Services","Chiropodists, Podiatrists","Chiropractors","Cigar Stores and Stands","Civic, Social, Fraternal Associations","Cleaning and Maintenance","Clothing Rental","Colleges, Universities","Commercial Equipment (Not Elsewhere Classified)","Commercial Footwear","Commercial Photography, Art and Graphics","Commuter Transport, Ferries","Computer Network Services","Computer Programming","Computer Repair","Computer Software Stores","Computers, Peripherals, and Software","Concrete Work Services","Construction Materials (Not Elsewhere Classified)","Consulting, Public Relations","Correspondence Schools","Cosmetic Stores","Counseling Services","Country Clubs","Courier Services","Court Costs, Including Alimony and Child Support - Courts of Law","Credit Reporting Agencies","Cruise Lines","Dairy Products Stores","Dance Hall, Studios, Schools","Dating/Escort Services","Dentists, Orthodontists","Department Stores","Detective Agencies","Direct Marketing - Catalog Merchant","Direct Marketing - Combination Catalog and Retail Merchant","Direct Marketing - Inbound Telemarketing","Direct Marketing - Insurance Services","Direct Marketing - Other","Direct Marketing - Outbound Telemarketing","Direct Marketing - Subscription","Direct Marketing - Travel","Discount Stores","Doctors","Door-To-Door Sales","Drapery, Window Covering, and Upholstery Stores","Drinking Places","Drug Stores and Pharmacies","Drugs, Drug Proprietaries, and Druggist Sundries","Dry Cleaners","Durable Goods (Not Elsewhere Classified)","Duty Free Stores","Eating Places, Restaurants","Educational Services","Electric Razor Stores","Electrical Parts and Equipment","Electrical Services","Electronics Repair Shops","Electronics Stores","Elementary, Secondary Schools","Employment/Temp Agencies","Equipment Rental","Exterminating Services","Family Clothing Stores","Fast Food Restaurants","Financial Institutions","Fines - Government Administrative Entities","Fireplace, Fireplace Screens, and Accessories Stores","Floor Covering Stores","Florists","Florists Supplies, Nursery Stock, and Flowers","Freezer and Locker Meat Provisioners","Fuel Dealers (Non Automotive)","Funeral Services, Crematories","Furniture Repair, Refinishing","Furniture, Home Furnishings, and Equipment Stores, Except Appliances","Furriers and Fur Shops","General Services","Gift, Card, Novelty, and Souvenir Shops","Glass, Paint, and Wallpaper Stores","Glassware, Crystal Stores","Golf Courses - Public","Government Services (Not Elsewhere Classified)","Grocery Stores, Supermarkets","Hardware Stores","Hardware, Equipment, and Supplies","Health and Beauty Spas","Hearing Aids Sales and Supplies","Heating, Plumbing, A/C","Hobby, Toy, and Game Shops","Home Supply Warehouse Stores","Hospitals","Hotels, Motels, and Resorts","Household Appliance Stores","Industrial Supplies (Not Elsewhere Classified)","Information Retrieval Services","Insurance - Default","Insurance Underwriting, Premiums","Intra-Company Purchases","Jewelry Stores, Watches, Clocks, and Silverware Stores","Landscaping Services","Laundries","Laundry, Cleaning Services","Legal Services, Attorneys","Luggage and Leather Goods Stores","Lumber, Building Materials Stores","Manual Cash Disburse","Marinas, Service and Supplies","Masonry, Stonework, and Plaster","Massage Parlors","Medical Services","Medical and Dental Labs","Medical, Dental, Ophthalmic, and Hospital Equipment and Supplies","Membership Organizations","Mens and Boys Clothing and Accessories Stores","Mens, Womens Clothing Stores","Metal Service Centers","Miscellaneous Apparel and Accessory Shops","Miscellaneous Auto Dealers","Miscellaneous Business Services","Miscellaneous Food Stores - Convenience Stores and Specialty Markets","Miscellaneous General Merchandise","Miscellaneous General Services","Miscellaneous Home Furnishing Specialty Stores","Miscellaneous Publishing and Printing","Miscellaneous Recreation Services","Miscellaneous Repair Shops","Miscellaneous Specialty Retail","Mobile Home Dealers","Motion Picture Theaters","Motor Freight Carriers and Trucking - Local and Long Distance, Moving and Storage Companies, and Local Delivery Services","Motor Homes Dealers","Motor Vehicle Supplies and New Parts","Motorcycle Shops and Dealers","Motorcycle Shops, Dealers","Music Stores-Musical Instruments, Pianos, and Sheet Music","News Dealers and Newsstands","Non-FI, Money Orders","Non-FI, Stored Value Card Purchase/Load","Nondurable Goods (Not Elsewhere Classified)","Nurseries, Lawn and Garden Supply Stores","Nursing/Personal Care","Office and Commercial Furniture","Opticians, Eyeglasses","Optometrists, Ophthalmologist","Orthopedic Goods - Prosthetic Devices","Osteopaths","Package Stores-Beer, Wine, and Liquor","Paints, Varnishes, and Supplies","Parking Lots, Garages","Passenger Railways","Pawn Shops","Pet Shops, Pet Food, and Supplies","Petroleum and Petroleum Products","Photo Developing","Photographic Studios","Photographic, Photocopy, Microfilm Equipment, and Supplies","Picture/Video Production","Piece Goods, Notions, and Other Dry Goods","Plumbing, Heating Equipment, and Supplies","Political Organizations","Postal Services - Government Only","Precious Stones and Metals, Watches and Jewelry","Professional Services","Public Warehousing and Storage - Farm Products, Refrigerated Goods, Household Goods, and Storage","Quick Copy, Repro, and Blueprint","Railroads","Real Estate Agents and Managers - Rentals","Record Stores","Recreational Vehicle Rentals","Religious Goods Stores","Religious Organizations","Roofing/Siding, Sheet Metal","Secretarial Support Services","Security Brokers/Dealers","Service Stations","Sewing, Needlework, Fabric, and Piece Goods Stores","Shoe Repair/Hat Cleaning","Shoe Stores","Small Appliance Repair","Snowmobile Dealers","Special Trade Services","Specialty Cleaning","Sporting Goods Stores","Sporting/Recreation Camps","Sports Clubs/Fields","Sports and Riding Apparel Stores","Stamp and Coin Stores","Stationary, Office Supplies, Printing and Writing Paper","Stationery Stores, Office, and School Supply Stores","Swimming Pools Sales","TUI Travel - Germany","Tailors, Alterations","Tax Payments - Government Agencies","Tax Preparation Services","Taxicabs/Limousines","Telecommunication Equipment and Telephone Sales","Telecommunication Services","Telegraph Services","Tent and Awning Shops","Testing Laboratories","Theatrical Ticket Agencies","Timeshares","Tire Retreading and Repair","Tolls/Bridge Fees","Tourist Attractions and Exhibits","Towing Services","Trailer Parks, Campgrounds","Transportation Services (Not Elsewhere Classified)","Travel Agencies, Tour Operators","Truck StopIteration","Truck/Utility Trailer Rentals","Typesetting, Plate Making, and Related Services","Typewriter Stores","U.S. Federal Government Agencies or Departments","Uniforms, Commercial Clothing","Used Merchandise and Secondhand Stores","Utilities","Variety Stores","Veterinary Services","Video Amusement Game Supplies","Video Game Arcades","Video Tape Rental Stores","Vocational/Trade Schools","Watch/Jewelry Repair","Welding Repair","Wholesale Clubs","Wig and Toupee Stores","Wires, Money Orders","Womens Accessory and Specialty Shops","Womens Ready-To-Wear Stores","Wrecking and Salvage Yards"],
  }),
  methods: {
    submit() {
      if (this.validForm) {
        let rule = {
          name: this.name,
          ruleSetId: this.ruleSetId,
          ruleAppliesOnlyToMerchantRegex: this.ruleAppliesOnlyToMerchantRegex,
          ruleDoesntApplyToMerchantRegex: this.ruleDoesntApplyToMerchantRegex,
          allowedMerchantNameRegex: this.allowedMerchantNameRegex,
          blockedMerchantNameRegex: this.blockedMerchantNameRegex,
          allowedCategories: this.allowedCategories,
          blockedCategories: this.blockedCategories,
          allowedCities: this.allowedCities,
          blockedCities: this.blockedCities,
          country: this.country,
          currency: this.currency,
          maximumAmount: this.maximumAmount,
        }
        this.$store.dispatch('newRule', rule);
      }
    },
  }
};
</script>
