<template>
    <v-card class="mx-auto">
      <v-card-text>
        <p class="text-h5 text--primary">
          {{ rule.name }}
        </p>
      </v-card-text>
        <v-list dense>
          <RuleItem ruleType='ruleAppliesOnlyToMerchantRegex' :data="rule.ruleAppliesOnlyToMerchantRegex" />
          <RuleItem ruleType='ruleDoesntApplyToMerchantRegex' :data="rule.ruleDoesntApplyToMerchantRegex" />
          <RuleItem ruleType='allowedMerchantNameRegex' :data="rule.allowedMerchantNameRegex" />
          <RuleItem ruleType='blockedMerchantNameRegex' :data="rule.blockedMerchantNameRegex" />
          <RuleItem ruleType='allowedCategories' :data="rule.allowedCategories" />
          <RuleItem ruleType='blockedCategories' :data="rule.blockedCategories" />
          <RuleItem ruleType='allowedCities' :data="rule.allowedCities" />
          <RuleItem ruleType='blockedCities' :data="rule.blockedCities" />
          <RuleItem ruleType='country' :data="rule.country" />
          <RuleItem ruleType='currency' :data="rule.currency" />
          <RuleItem ruleType='maximumAmount' :data="rule.maximumAmount" />
          <RuleItem ruleType='minimumAmount' :data="rule.minimumAmount" />
        </v-list>
    </v-card>
</template>

<script>
import RuleItem from '@/components/RuleItem';

export default {
  components: {
    RuleItem,
  },
  props: ['rule'],
  // computed: {
  //   rules() { return this.$store.getters.rules; },
  // },
};
</script>
