<template>
  <v-list-item v-if="data">
    <v-list-item-icon><v-icon>{{icon}}</v-icon></v-list-item-icon>
    <v-list-item-content>
      <v-list-item-title v-if="isArray">
        <v-chip v-for="chip in array" :key="chip" small class="ma-1">
          {{chip}}
        </v-chip>
      </v-list-item-title>
      <v-list-item-title v-else>{{heading}}</v-list-item-title>
      <v-list-item-subtitle>{{caption}}</v-list-item-subtitle>
    </v-list-item-content>
  </v-list-item>
</template>

<script>
export default {
  props: ['ruleType', 'data'],
  computed: {
    icon() {
      let i = 'mdi-format-text-wrapping-overflow';
      if ((this.ruleType=='ruleAppliesOnlyToMerchantRegex') || (this.ruleType=='ruleDoesntApplyToMerchantRegex') || (this.ruleType=='maximumAmount') || (this.ruleType=='country') || (this.ruleType=='currency')) {
        i = 'mdi-store';
      }
      return i;
    },
    caption() {
      let r = null;
      if (this.ruleType=='ruleAppliesOnlyToMerchantRegex') { r = 'Rule applies only to..'; }
      if (this.ruleType=='ruleDoesntApplyToMerchantRegex') { r = 'Rule does not apply to...'; }
      if (this.ruleType=='allowedMerchantNameRegex') { r = 'Allow matching merchants'; }
      if (this.ruleType=='blockedMerchantNameRegex') { r = 'Block matching metchants'; }
      if (this.ruleType=='allowedCategories') { r = 'Allowed categories'; }
      if (this.ruleType=='blockedCategories') { r = 'Blocked categories'; }
      if (this.ruleType=='allowedCities') { r = 'Allowed cities'; }
      if (this.ruleType=='blockedCities') { r = 'Blocked cities'; }
      if (this.ruleType=='country') { r = 'Limit country to...'; }
      if (this.ruleType=='currency') { r = 'Limit currency to...'; }
      if (this.ruleType=='maximumAmount') { r = 'Maximum amount'; }
      if (this.ruleType=='minimumAmount') { r = 'Minimum amount'; }
      return r;
    },
    heading() {
      let r = null;
      if (typeof(this.data)=='string') { r = this.data; }
      if ((this.ruleType=='maximumAmount') || (this.ruleType=='minimumAmount')) {
        if (this.data) {
          let f = parseFloat(this.data);
          r = f.toFixed(2);
        }
      }
      return r;
    },
    isArray() {
      return ( (this.ruleType=='allowedCategories')  || (this.ruleType=='blockedCategories')  || (this.ruleType=='allowedCities')  || (this.ruleType=='blockedCities') );
    },
    array() {
      return JSON.parse(this.data);
    }
  },
};
</script>
