<template>
  <v-app :style="{background: '#F5F5F5'}">

    <HeaderBar v-if="live" />

    <!-- Sizes your content based upon application components -->
    <v-main>
      <Welcome v-if="userState=='logged_out'" />
      <Otp v-if="userState=='otp'" />
      <Initialising v-if="userState=='initiailising'" />
      <Live v-if="live" />
    </v-main>

    <v-footer v-if="live" app>
      <!-- -->
    </v-footer>

  </v-app>
</template>

<script>
import HeaderBar from '@/components/HeaderBar';
import Welcome from '@/views/LoginWelcome';
import Otp from '@/views/LoginOtp'
import Initialising from '@/views/LoginInitialising'
import Live from '@/views/Live'

export default {
  name: 'App',

  components: {
    HeaderBar,
    Welcome,
    Otp,
    Initialising,
    Live,
  },

  data: () => ({
    // 1cd70e4d-d302-419f-9984-ec02de65bfbd
  }),

  computed: {
    userState() {
      let s = 'logged_out';
      if (this.$store.getters.email) {
        s = 'otp';
        if (this.$store.getters.otp) {
          s = 'initiailising';
          if (this.$store.getters.apiKey) {
            s = 'live';
          //   s = 'no_venue';
          //   if (this.$store.getters.venueId!==null) {
          //     s = 'live';
          //   }
          }
        }
      }
      // s = 'live';
      return s;
    },
    live() { return (this.userState=='live'); },
  },

};
</script>
